project/src/sd/tp1/client/cloud/soap/stubs/FileServer.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.tp1.sd/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.tp1.sd/" name="SoapServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.tp1.sd/" schemaLocation="http://localhost:8080/FileServer?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getListOfAlbums">
<part name="parameters" element="tns:getListOfAlbums"></part>
</message>
<message name="getListOfAlbumsResponse">
<part name="parameters" element="tns:getListOfAlbumsResponse"></part>
</message>
<message name="getListOfPictures">
<part name="parameters" element="tns:getListOfPictures"></part>
</message>
<message name="getListOfPicturesResponse">
<part name="parameters" element="tns:getListOfPicturesResponse"></part>
</message>
<message name="getPictureData">
<part name="parameters" element="tns:getPictureData"></part>
</message>
<message name="getPictureDataResponse">
<part name="parameters" element="tns:getPictureDataResponse"></part>
</message>
<message name="createAlbum">
<part name="parameters" element="tns:createAlbum"></part>
</message>
<message name="createAlbumResponse">
<part name="parameters" element="tns:createAlbumResponse"></part>
</message>
<message name="uploadPicture">
<part name="parameters" element="tns:uploadPicture"></part>
</message>
<message name="uploadPictureResponse">
<part name="parameters" element="tns:uploadPictureResponse"></part>
</message>
<message name="deleteAlbum">
<part name="parameters" element="tns:deleteAlbum"></part>
</message>
<message name="deleteAlbumResponse">
<part name="parameters" element="tns:deleteAlbumResponse"></part>
</message>
<message name="deletePicture">
<part name="parameters" element="tns:deletePicture"></part>
</message>
<message name="deletePictureResponse">
<part name="parameters" element="tns:deletePictureResponse"></part>
</message>
<portType name="SoapServer">
<operation name="getListOfAlbums">
<input wsam:Action="http://soap.server.tp1.sd/SoapServer/getListOfAlbumsRequest" message="tns:getListOfAlbums"></input>
<output wsam:Action="http://soap.server.tp1.sd/SoapServer/getListOfAlbumsResponse" message="tns:getListOfAlbumsResponse"></output>
</operation>
<operation name="getListOfPictures">
<input wsam:Action="http://soap.server.tp1.sd/SoapServer/getListOfPicturesRequest" message="tns:getListOfPictures"></input>
<output wsam:Action="http://soap.server.tp1.sd/SoapServer/getListOfPicturesResponse" message="tns:getListOfPicturesResponse"></output>
</operation>
<operation name="getPictureData">
<input wsam:Action="http://soap.server.tp1.sd/SoapServer/getPictureDataRequest" message="tns:getPictureData"></input>
<output wsam:Action="http://soap.server.tp1.sd/SoapServer/getPictureDataResponse" message="tns:getPictureDataResponse"></output>
</operation>
<operation name="createAlbum">
<input wsam:Action="http://soap.server.tp1.sd/SoapServer/createAlbumRequest" message="tns:createAlbum"></input>
<output wsam:Action="http://soap.server.tp1.sd/SoapServer/createAlbumResponse" message="tns:createAlbumResponse"></output>
</operation>
<operation name="uploadPicture">
<input wsam:Action="http://soap.server.tp1.sd/SoapServer/uploadPictureRequest" message="tns:uploadPicture"></input>
<output wsam:Action="http://soap.server.tp1.sd/SoapServer/uploadPictureResponse" message="tns:uploadPictureResponse"></output>
</operation>
<operation name="deleteAlbum">
<input wsam:Action="http://soap.server.tp1.sd/SoapServer/deleteAlbumRequest" message="tns:deleteAlbum"></input>
<output wsam:Action="http://soap.server.tp1.sd/SoapServer/deleteAlbumResponse" message="tns:deleteAlbumResponse"></output>
</operation>
<operation name="deletePicture">
<input wsam:Action="http://soap.server.tp1.sd/SoapServer/deletePictureRequest" message="tns:deletePicture"></input>
<output wsam:Action="http://soap.server.tp1.sd/SoapServer/deletePictureResponse" message="tns:deletePictureResponse"></output>
</operation>
</portType>
<binding name="SoapServerPortBinding" type="tns:SoapServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getListOfAlbums">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListOfPictures">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPictureData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="uploadPicture">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deletePicture">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SoapServerService">
<port name="SoapServerPort" binding="tns:SoapServerPortBinding">
<soap:address location="http://localhost:8080/FileServer"></soap:address>
</port>
</service>
</definitions>